body {
  overflow-x: hidden;
  font-family: 'Cabin',sans-serif;
}

.phone-model {
  transform: translateX(-10%);
}

.phone-model-text {
  transform: translateX(50%);
}

@media (max-width: 769px) {
  .section-1 {
    display: flex;
    flex-direction: column-reverse;
  }
  .phone-model {
    transform: translateX(-20%);
  }
  .phone-model-img {
    transform: translateX(20%);
  }

  /* .phone-model-text {
    transform: translateX(50%);
  } */
  .section-2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .editor-text {
    text-align: center;
  }
}
